{% extends 'base.html' %}
{% block title %}
    Listado de contactos
{% endblock%}
{% block header %}
    Lista de contactos
{% endblock %}

{% block content %}
    <h3>Listado de contactos</h3>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Email</th>
        </tr>
        {% for contacto in contactos %}
            <tr>
                <td>{{ contacto.nombre }}</td>
                <td>{{ contacto.apellidos }}</td>
                <td>{{ contacto.telefono }}</td>
                <td>{{ contacto.email }}</td>
                <td><a href="{% url 'editar_contacto' contacto.id %}">Editar</a></td>
                <td><a href="{% url 'eliminar_contacto' contacto.id %}">Eliminar</a></td>
            </tr>
        {% endfor %}
{% endblock %}
