<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>    
</head>
<body>
    <h1>
    {% block header %}
    {% endblock %}
    </h1>
    <br/>

    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'sectores' %}">Gráfico de sectores</a></li>
        <li><a href="{% url 'barras' %}">Gráfico de barras</a></li>
        <li><a href="{% url 'lineas' %}">Gráfico de líneas</a></li>               
      </ul>
    <main>
        {% block content %}
            Gráficos con Plotly
        {% endblock %}
    </main>
</body>