{% extends 'base.html' %}
{% block title %}
    Nuevo lugar
{% endblock%}
{% block header %}
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Nuevo lugar</h3>
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Guardar" class="btn btn-dark">                    
                    <a href="{% url 'listar_lugares' %}"><button type="button" class="btn btn-secondary">Cancel</button></a>                   
                                
                </form>
            </div>
        </div>
    
{% endblock %}