{% extends 'base.html' %}
{% block title %}
    List of all bikes
{% endblock%}
{% block header %}
    All bikes
{% endblock %}
{% block content %}
    <h3>Bikes</h3>
        <table>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Year</th>
                <th>Price</th>
            </tr>
            {% for bike  in bikes %}
                <tr>
                    <td>{{ bike.brand }}</td>
                    <td>{{ bike.model }}</td>
                    <td>{{ bike.year }}</td>
                    <td>{{ bike.price }}</td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}